<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <nav>
                <ul class="menu">
                  <li><a href="#" class="active">item 1</a></li>
                  <li><a href="#">item 2</a></li>
                  <li><a href="#">item 3</a></li>
                  <li><a href="#">item 4</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h1>News Article with Natural Language Processing</h1>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <textarea id="inputBox" name="input" placeholder="Enter some text here"></textarea>
                    <input type="submit" name="" value="submit">
                </form>
            <section>

            <section>
                <p id="err-msg" class="error"></p>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
         // Check that service workers are supported
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>
    </body>
</html>
